@import "./home";
@import "./navigation";
@import "./first-section";
@import "./people";

body {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    margin: 0;
    background-color: #f9f9f9;
    scroll-behavior: smooth;
}

// just some styles from bootstrap
h1 {
    font-size: 2rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}